<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Join Us - Cranbrook Choral Society</title>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='img/android-chrome-512x512.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bs-theme-overrides.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Team-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Team-images.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom navbar-dark" style="background: #6E142E;">
        <div class="container"><img src="{{ url_for('static', filename='img/CC-Logo-White.png') }}" style="height: 47px;"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{{url_for('views.home')}}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('views.joinus')}}" style="color: white;">Join Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('views.aboutus')}}">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('views.concerts')}}">Concerts</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('views.hire')}}">Staging/Music Hire</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('views.members')}}">Members' Only</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% if message_sent %}
        <div class="alert alert-success" role="alert" style="max-width: 600px; text-align: center; margin: 100px auto -50px;">
            Message sent successfully.
        </div>
    {% elif message_failed %}
        <div class="alert alert-danger" role="alert" style="max-width: 600px; text-align: center; margin: 100px auto -50px;">
            Message failed to send.<br>Your word may not be a real word or there was a server error.
        </div>
    {% endif %}
    <header class="text-center text-white masthead" style="padding: 114px 0px 148px;padding-top: 0px;background: #ffffff00;padding-bottom: 0px;">
        <h1 class="masthead-heading mb-0" style="margin: 100px;color: var(--bs-emphasis-color);font-size: 65px;">How to Join Us</h1>
    </header>
    <section style="margin-top: 40px;margin-bottom: 40px;">
        <div class="container">
            <div class="row gx-3 gy-0">
                <div class="col-md-6 text-center joinus-column">
                    <div class="joinus-box">
                        <h5><strong>When and where do you rehearse?</strong></h5>
                        <div class="joinus-paragraph">
                            <p>Rehearsals are on Tuesday nights from 7:30 – 9:15pm.</p>
                            <p>We rehearse in the Vestry Hall, Cranbrook.&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center joinus-column">
                    <div class="joinus-box">
                        <h5><strong>Do I need to audition?</strong></h5>
                        <div class="joinus-paragraph">
                            <p>No, we are a non-auditioning choir.&nbsp;</p>
                            <p>Everyone is welcome!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center joinus-column">
                    <div class="joinus-box">
                        <h5><strong>Where do you perform?</strong></h5>
                        <div class="joinus-paragraph">
                            <p>Our concerts mostly take place in St Dunstan’s Church, Cranbrook.</p>
                            <p>The church has great acoustics, which makes for a magical singing experience.</p>
                            <p>We regularly perform in other local churches.<br>Small groups of our choir also perform at local elderly residential homes over the Christmas period.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center joinus-column">
                    <div class="joinus-box">
                        <h5><strong>What will it cost me to become a member?</strong></h5>
                        <div class="joinus-paragraph">
                            <p>A subscription fee is payable for each season. The annual subscription fee for the 2023-24 season is £120 and is collected in September.&nbsp;</p>
                            <p>Membership for students in full-time education is free.&nbsp;<br>If you join us mid-year, the subscription fee will be pro-rated.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center joinus-column">
                    <div class="joinus-box">
                        <h5><strong>When is a good time to join?</strong></h5>
                        <div class="joinus-paragraph">
                            <p>You can join us at any time of the season, but it’s probably best to join at the start of the rehearsal schedule leading up to a concert.&nbsp;</p>
                            <ul>
                                <li>Rehearsals for our Autumn concert start on Tuesday 3 September 2024</li>
                                <li>Rehearsals for our Christmas concert start on Tuesday November 19, 2024</li>
                                <li>Rehearsals for our Spring concert start on Tuesday 7 January 2025</li>
                                <li>Rehearsals for our Summer concert 2025 TBC</li>
                            </ul>
                            <p class="joinus-paragraph">Our summer concert in June is less formal and is the ideal opportunity for less experienced singers to try out the experience of choral singing alongside our regular members.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center joinus-column">
                    <div class="joinus-box">
                        <h5><strong>Do I have to be musically literate and able to read music?</strong></h5>
                        <div class="joinus-paragraph">
                            <p>We are open to all who would like to sing as part of a large choir.</p>
                            <p>We have members who are very experienced musically and others who are discovering how to read music.</p>
                            <p>While it is helpful if you can follow a musical score, there is plenty of support if you are not there yet.</p>
                            <p>To help our members get familiar with the music we are learning, we often rehearse in voice sections and can provide advice on Apps and useful resources that will help you familiarise with the music outside rehearsals.</p>
                            <p>Our Music Director offers music theory and practical support in rehearsal breaks.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center joinus-column">
                    <div class="joinus-box">
                        <h5><strong>How do I purchase music?</strong></h5>
                        <div class="joinus-paragraph">
                            <p>We can lend you copies of the music for a small fee.&nbsp;</p>
                            <p>Copies are available to collect in the first rehearsals of any term.&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center joinus-column">
                    <div class="joinus-box">
                        <div style="background: var(--bs-primary);padding: 10px;color: white;height: 100%;">
                            <h3>Interested?</h3><a class="btn btn-primary" role="button" style="font-size: 20px;" data-bs-toggle="modal" data-bs-target="#contactUs">Join Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Copyright&nbsp;© Brand 2024</p>
        </div>
    </footer>
    <div class="modal fade" role="dialog" tabindex="-1" id="contactUs">
        <div class="modal-dialog modal-lg modal-fullscreen-sm-down" role="document">
            <div class="modal-content">
                <div class="modal-header"><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button></div>
                <div class="modal-body" style="padding-bottom: 0px;">
                    <section class="position-relative py-1" style="padding: 0px;">
                        <div class="container position-relative">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4" style="width: 100%;">
                                    <div class="card mb-1" style="margin-bottom: 0px;">
                                        <div class="card-body p-sm-5">
                                            <h2 class="modal-title text-center">Contact Us</h2>
                                            <form name="sentMessage" id="contactForm" method="POST">
                                                <div class="mb-3">
                                                    <input class="form-control" type="text" id="nameForm" name="name" placeholder="Name" required data-validation-required-message="Please enter your Name">
                                                </div>
                                                <div class="mb-3">
                                                    <input class="form-control" type="email" id="emailForm" name="email" placeholder="Email" required data-validation-required-message="Please enter your Email">
                                                </div>
                                                <div class="mb-3">
                                                    <textarea class="form-control" type="text" id="messageForm" name="message" rows="6" placeholder="Message"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <input class="form-control" type="text" id="wordForm" name="word" placeholder="Enter your favourite word! (verification)">
                                                </div>
                                                <div>
                                                    <button class="btn btn-primary d-block w-100" type="submit">Send </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bs-init.js') }}"></script>
</body>

</html>